header {
  background-image: url("../images/head.png");
  background-size: cover;
  height: 770px;
  box-sizing: border-box; }

.header__container {
  width: 100%;
  position: relative;
  z-index: 3;
  box-sizing: border-box;
  padding-bottom: 260px; }

header:after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.4);
  z-index: 2;
  height: 770px; }

.header__logo {
  font-family: "Montserrat", sans-serif;
  font-size: 24px;
  font-weight: bold; }

.header__nav {
  width: 80%;
  margin: 0 auto;
  color: white;
  display: flex;
  justify-content: space-between;
  padding-top: 50px;
  z-index: 30; }

.header__menu-list {
  display: flex; }
  .header__menu-list li {
    display: inline-block;
    font-family: "Montserrat", sans-serif;
    font-size: 14px;
    margin-right: 20px; }

.header__title {
  width: 50%;
  margin: 0 auto;
  margin-top: 260px;
  text-align: center;
  color: white; }
  .header__title h1 {
    font-family: "Montserrat", sans-serif;
    font-size: 48px;
    font-weight: bold; }
  .header__title p {
    margin-top: 37px;
    font-family: "Montserrat", sans-serif;
    font-size: 20px; }
  .header__title button {
    display: block;
    width: 180px;
    height: 50px;
    background-color: transparent;
    border: 2px solid white;
    text-transform: uppercase;
    font-size: 16px;
    color: white;
    margin: 0 auto;
    margin-top: 50px; }

footer {
  background-color: #c0301c;
  text-align: center; }
  footer p {
    font-size: 12px;
    color: white;
    text-transform: uppercase;
    padding-bottom: 100px; }

.footer__ellipse {
  height: 35px;
  width: 35px;
  border-radius: 50%;
  border: 2px solid white;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 10px; }

.footer__social {
  display: flex;
  margin: 0 auto;
  width: 50%;
  justify-content: center;
  padding-top: 100px;
  padding-bottom: 60px; }
  .footer__social:before {
    content: '';
    position: relative;
    width: 50px;
    height: 2px;
    background-color: white;
    display: block;
    top: 60px;
    left: 100px; }

.services {
  width: 80%;
  margin: 0 auto;
  padding-top: 100px;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center; }
  .services h1 {
    font-size: 20px;
    font-family: "Montserrat", sans-serif;
    color: #555555;
    margin-bottom: 60px;
    text-transform: uppercase;
    font-weight: bold; }
  .services h1:after {
    content: '';
    position: relative;
    width: 50px;
    height: 2px;
    background-color: #555555;
    display: block;
    top: 30px;
    left: 25px; }
  .services p {
    font-size: 16px;
    font-family: "Montserrat", sans-serif;
    color: #555555;
    margin-bottom: 70px; }

.services__container {
  display: flex;
  justify-content: space-between; }

.services__block {
  width: 30%;
  display: flex;
  flex-direction: column;
  align-items: center; }
  .services__block h2 {
    font-size: 14px;
    font-family: "Montserrat", sans-serif;
    color: #555555;
    text-transform: uppercase;
    font-weight: bold;
    margin-bottom: 30px; }
  .services__block p {
    font-size: 12px;
    font-family: "Montserrat", sans-serif;
    color: #555555;
    line-height: 1.5;
    margin-bottom: 100px; }

.services__ellipse {
  border: 2px solid #e0e0e0;
  border-radius: 50%;
  height: 80px;
  width: 80px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 30px; }
  .services__ellipse img {
    width: 60px; }

.services__ellipse_red {
  background-color: #c0301c; }

.about_us {
  background-color: #f8f8f8; }

.about_us__container {
  width: 80%;
  margin: 0 auto;
  padding-top: 100px;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center; }
  .about_us__container h1 {
    font-size: 20px;
    font-family: "Montserrat", sans-serif;
    color: #555555;
    margin-bottom: 60px;
    text-transform: uppercase;
    font-weight: bold; }
  .about_us__container h1:after {
    content: '';
    position: relative;
    width: 50px;
    height: 2px;
    background-color: #555555;
    display: block;
    top: 30px;
    left: 25px; }
  .about_us__container p {
    font-size: 16px;
    font-family: "Montserrat", sans-serif;
    color: #555555;
    margin-bottom: 70px; }

.about_us__text {
  display: flex;
  justify-content: space-between; }
  .about_us__text p {
    display: block;
    width: 48%;
    text-align: left;
    font-size: 14px; }

.about_us__team {
  display: flex;
  justify-content: space-between;
  width: 100%; }

.about_us__team_member {
  width: 24%; }
  .about_us__team_member h4 {
    font-size: 14px;
    font-family: "Montserrat", sans-serif;
    color: #555555;
    text-transform: uppercase;
    font-weight: bold;
    margin-bottom: 20px; }
  .about_us__team_member p {
    font-size: 12px;
    font-family: "Montserrat", sans-serif;
    color: #555555; }

.about_us__photo {
  height: 260px;
  width: 100%;
  display: flex;
  align-items: center;
  margin-bottom: 20px;
  width: 100%;
  background-position: center top;
  background-repeat: no-repeat; }

.about_us__photo_onhover {
  position: relative;
  height: 260px;
  width: 100%;
  background-color: grey;
  bottom: 280px;
  opacity: 0.5;
  z-index: 2;
  display: none; }
  .about_us__photo_onhover i {
    color: white;
    z-index: 3;
    padding-right: 10px;
    font-size: 20px;
    position: relative;
    top: 200px; }
    .about_us__photo_onhover i:hover {
      color: #c0301c; }

.about_us__team_member {
  list-style-type: none; }
  .about_us__team_member:hover .about_us__photo_onhover {
    display: block; }
  .about_us__team_member:hover h4 {
    margin-top: -260px; }

.about_us__photo-khalil {
  background-image: url("../images/khalil.png"); }

.about_us__photo-john {
  background-image: url("../images/john.png");
  justify-content: flex-end; }

.about_us__photo-rubel {
  background-image: url("../images/rubel.png"); }

.about_us__photo-shamim {
  background-image: url("../images/shamim.png"); }

.about_us__button-left, .about_us__button-right {
  width: 35px;
  height: 35px;
  background-color: #c0301c;
  background-image: url("../images/angle-left.png");
  background-position: center;
  background-size: auto 50%;
  background-repeat: no-repeat; }

.about_us__button-right {
  background-image: url("../images/angle-right.png"); }

.works__container {
  width: 80%;
  margin: 0 auto;
  padding-top: 100px;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center; }
  .works__container h1 {
    font-size: 20px;
    font-family: "Montserrat", sans-serif;
    color: #555555;
    margin-bottom: 60px;
    text-transform: uppercase;
    font-weight: bold; }
  .works__container h1:after {
    content: '';
    position: relative;
    width: 50px;
    height: 2px;
    background-color: #555555;
    display: block;
    top: 30px;
    left: 25px; }
  .works__container p {
    font-size: 16px;
    font-family: "Montserrat", sans-serif;
    color: #555555;
    margin-bottom: 70px; }

.works__list li {
  display: inline-block;
  margin-left: 20px;
  margin-bottom: 75px;
  color: #555555;
  font-size: 16px;
  font-family: "Montserrat", sans-serif; }
  .works__list li:hover {
    color: #c0301c; }

.works__example-main1, .works__example-main2, .works__example-main3, .works__example-main4, .works__example-main5, .works__example-main6, .works__example-main7, .works__example-main8, .works__example-main9 {
  background-image: url("../images/works1.png");
  background-size: cover;
  height: 320px;
  width: 300px;
  margin-left: 30px;
  margin-bottom: 30px; }

.works__example-hover {
  height: 320px;
  width: 300px;
  background-color: #c0301c;
  opacity: 0.7;
  position: relative;
  left: 30px;
  bottom: 350px;
  box-sizing: border-box;
  display: none; }

.works__example:hover {
  margin-bottom: -320px; }
  .works__example:hover .works__example-hover {
    display: block; }

.works__hover-block {
  z-index: 10;
  color: white;
  box-sizing: border-box;
  text-align: center;
  padding-top: 100px; }
  .works__hover-block h4 {
    font-family: "Montserrat", sans-serif;
    font-size: 18px; }
  .works__hover-block p {
    color: white;
    font-size: 12px;
    font-family: "Montserrat", sans-serif;
    margin-top: 30px;
    margin-bottom: 30px; }
  .works__hover-block button {
    height: 40px;
    width: 100px;
    border: none;
    background-color: white;
    color: #c0301c;
    font-size: 16px;
    font-weight: bold; }

.works__example-main2 {
  background-image: url("../images/works2.png"); }

.works__example-main3 {
  background-image: url("../images/works3.png"); }

.works__example-main4 {
  background-image: url("../images/works6.png"); }

.works__example-main5 {
  background-image: url("../images/works7.png"); }

.works__example-main6 {
  background-image: url("../images/works6.png"); }

.works__example-main7 {
  background-image: url("../images/works7.png"); }

.works__example-main8 {
  background-image: url("../images/works8.png"); }

.works__example-main9 {
  background-image: url("../images/works9.png"); }

.works__examples {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  margin-bottom: 100px; }

.works__row {
  display: flex;
  justify-content: center;
  margin-bottom: -320px; }

.call-to-action {
  background-image: url("../images/call.png");
  background-position: center center;
  background-repeat: no-repeat;
  height: 370px;
  box-sizing: border-box;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column; }
  .call-to-action:before {
    content: '';
    position: absolute;
    background-color: #c0301c;
    opacity: 0.5;
    z-index: 2;
    display: block;
    height: 370px;
    width: 100%; }
  .call-to-action h2 {
    font-size: 30px;
    font-family: "Montserrat", sans-serif;
    font-weight: bold;
    margin-bottom: 20px;
    z-index: 3; }
  .call-to-action p {
    font-size: 30px;
    z-index: 3; }
  .call-to-action button {
    z-index: 3;
    display: block;
    width: 180px;
    height: 50px;
    background-color: transparent;
    border: 2px solid white;
    text-transform: uppercase;
    font-size: 16px;
    color: white;
    margin: 0 auto;
    margin-top: 50px; }

.blog__container {
  padding-top: 100px;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 80%;
  margin: 0 auto; }
  .blog__container h1 {
    font-size: 20px;
    font-family: "Montserrat", sans-serif;
    color: #555555;
    margin-bottom: 60px;
    text-transform: uppercase;
    font-weight: bold; }
  .blog__container h1:after {
    content: '';
    position: relative;
    width: 50px;
    height: 2px;
    background-color: #555555;
    display: block;
    top: 30px;
    left: 25px; }
  .blog__container p {
    font-size: 16px;
    font-family: "Montserrat", sans-serif;
    color: #555555;
    margin-bottom: 70px; }

.blog__posts {
  margin-bottom: 100px; }

.blog__post {
  display: flex;
  margin-bottom: 40px; }
  .blog__post img {
    width: 50%;
    height: auto;
    margin-right: 40px; }

.blog__post_first {
  padding-bottom: 40px;
  border-bottom: 1px solid #dddddd; }

.blog__post-title {
  display: flex; }

.blog__article {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  text-align: left; }
  .blog__article a {
    font-size: 14px;
    text-transform: uppercase;
    color: #555555;
    font-weight: bold;
    text-decoration: none; }

.blog__date {
  width: 76px;
  height: 76px;
  border: 2px solid #555555;
  display: flex;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
  text-align: center;
  margin-right: 30px; }
  .blog__date p {
    font-size: 24px;
    font-family: "Montserrat", sans-serif;
    text-transform: uppercase;
    color: #777777;
    font-weight: bold;
    display: block;
    margin-bottom: 0px; }

.blog__month {
  font-size: 20px;
  font-weight: normal; }

.blog__heading h3 {
  font-size: 13px;
  text-transform: uppercase;
  color: #555555;
  margin-bottom: 20px;
  margin-top: 15px;
  font-family: "Montserrat", sans-serif;
  font-weight: bold; }
  .blog__heading h3:hover {
    color: #c0301c; }
.blog__heading p {
  font-size: 13px;
  font-style: italic;
  color: #a2a2a2;
  margin-bottom: 45px; }

.hover-red:hover {
  color: #c0301c; }

.blog__content p {
  font-size: 14px;
  margin-bottom: 36px; }

.clients {
  background-color: #f8f8f8;
  padding-bottom: 100px; }

.clients__logos {
  width: 60%;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  height: 200px;
  align-items: center; }

.clients__feedback {
  width: 50%;
  margin: 0 auto;
  text-align: center; }
  .clients__feedback p:first-child {
    font-style: italic;
    font-size: 18px;
    margin-bottom: 30px; }
  .clients__feedback .clients__author {
    font-size: 14px;
    font-family: "Montserrat", sans-serif;
    margin-bottom: 30px; }

.clients__ellipses {
  display: flex;
  width: 50%;
  margin: 0 auto;
  justify-content: center; }

.clients__ellipse {
  width: 13px;
  height: 13px;
  border-radius: 50%;
  background-color: #dddddd;
  margin-right: 10px; }

.clients__ellipse_active {
  background-color: #c0301c; }

.contact__container {
  padding-top: 100px;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 80%;
  margin: 0 auto; }
  .contact__container h1 {
    font-size: 20px;
    font-family: "Montserrat", sans-serif;
    color: #555555;
    margin-bottom: 60px;
    text-transform: uppercase;
    font-weight: bold; }
  .contact__container h1:after {
    content: '';
    position: relative;
    width: 50px;
    height: 2px;
    background-color: #555555;
    display: block;
    top: 30px;
    left: 25px; }
  .contact__container p {
    font-size: 16px;
    font-family: "Montserrat", sans-serif;
    color: #555555;
    margin-bottom: 70px; }

.contact__container-form {
  display: flex;
  justify-content: space-between; }

.contact__info {
  text-align: left;
  margin-right: 100px; }

.contact__info_block {
  width: 210px; }
  .contact__info_block i {
    color: #555555;
    position: relative;
    top: 15px;
    right: 20px; }
  .contact__info_block h4 {
    text-transform: uppercase;
    color: #555555;
    font-size: 14px;
    font-weight: bold;
    margin-bottom: 20px; }
  .contact__info_block p {
    font-size: 12px;
    color: #a0a0a0;
    margin-bottom: 40px; }

.contact__form {
  display: flex;
  flex-wrap: wrap; }
  .contact__form input, .contact__form textarea, .contact__form button {
    width: 40%;
    height: 45px;
    margin-right: 30px;
    outline: none;
    box-sizing: border-box;
    border: 1px solid #555555;
    font-size: 12px;
    text-transform: uppercase;
    padding-left: 10px; }
    .contact__form input:focus, .contact__form textarea:focus, .contact__form button:focus {
      border: 1px solid #c0301c; }
  .contact__form textarea {
    width: 84%;
    height: 100px;
    padding-top: 10px; }
  .contact__form button {
    width: 170px;
    color: #555555; }
  .contact__form p {
    font-size: 12px;
    color: #555555;
    margin-top: 15px; }
  .contact__form span {
    color: #c0301c; }

@media (max-width: 799px) {
  .header__menu-list {
    flex-direction: column; }
    .header__menu-list li {
      margin-right: 0px;
      margin-top: 20px; }

  .header__nav {
    flex-direction: column;
    align-items: center; }

  .header__title {
    margin-top: 100px; }

  .services__container {
    flex-direction: column;
    align-items: center; }

  .services__block {
    width: 80%; }

  .about_us__text {
    flex-direction: column;
    align-items: center; }
    .about_us__text p {
      width: 100%; }

  .about_us__team {
    flex-direction: column;
    align-items: center; }

  .about_us__team_member {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%; }
    .about_us__team_member img {
      width: 300px; }

  .about_us__photo_onhover {
    width: 280px; }

  .blog__post {
    flex-direction: column;
    align-items: center; }
    .blog__post img {
      margin-bottom: 30px;
      width: 80%; }

  .contact__container-form {
    flex-direction: column;
    align-items: center; }

  .contact__info {
    width: 50%; }

  .contact__form {
    flex-direction: column; }
    .contact__form input, .contact__form textarea, .contact__form button {
      width: 100%;
      margin-bottom: 20px; } }
.works__examples {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  margin-bottom: 100px;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  flex-direction: row; }

/*# sourceMappingURL=styles.css.map */
